body {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    align-items: center;
}

.footer {
    display: flex;
    padding: -5px 5px 10px 5px;
    color: #5f6368;
    background: rgba(0,0,0,.10);
    margin-top:0px;

    
}

.left {
    justify-content: flex-start;
}

.right {
    margin-left: auto;
}

.left ul li{
    display: inline;
}

.right ul li{
    display: inline;
}
   
li {
    padding: 5px;
    list-style-type: none;
}

.end {
    margin-left:0px;
    margin-bottom: 0px;
    border-bottom: 1px solid grey;
    background: rgba(0,0,0,.10);
    padding: 10px 0px 22px 10px;
    color: #5f6368;
    -webkit-appearance: none;


}

ul {
    padding-left: 0px;
}

.footer a {
    color: #5f6368;
}


.search {
    border-radius: 10vw;
    position: relative;
    margin-top: 10px;
    width: 35%;
    height: 5vh;
    border: 1px solid grey;
    -webkit-appearance: none;
}

.btn {
    font-size: 20px;
    position: relative;
        margin-top: 20px;

}

button {
    font-family: arial;
    font-size: 14px;
    border: none;
    padding: 10px 20px 10px 20px;
    
}

.line {
    font-size: 14px;
}



a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header a {
    color: #5f6368;

}

span {
    color: blue;
}